@tailwind base;
@tailwind components;
@tailwind utilities;

root {
  background-color: white;
}

body {
  font-family: var(--font-inter), sans-serif; /* Fallback to sans-serif if Inter is not available */
}

h1.tagline {
  font-family: var(--font-nanum-myeongjo), sans-serif;
  font-size: 22px;
}

h1.card-title {
  font-family: Helvetica, Arial, sans-serif;
}

.card {
  background: white;
  padding: 8px;
  border-radius: 12px;
  transition: all 0.3s ease;
  color: black;
  transition: box-shadow 0.3s ease;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.card:hover {
  border-color: #81a4c2; /* Change border color on hover */
  background-color: #81a4c2; /* Change background color on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
  color: white;
  transform: scale(1.1);
}

.sizes:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
  color: white;
  transform: scale(1.1);
}

.sizes {
  border-style: solid;
  border-width: 1.5px;
  border-color: gray;
  transition: box-shadow 0.3s ease;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.title {
  font-weight: 500;
}
